* {
	padding: 0px;
	margin: 0px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

ul, ul li {
	list-style: none;
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

body {
    background-color: #353676;
    font-family: 'Roboto', sans-serif;
}

.status {
    display: flex;
    width: 320px;
    height: 40px;
    background-color: white;
    margin: 50px auto;
    margin-bottom: 10px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    width: 320px;
    height: 535px;
    background-color: white;
    margin: 10px auto;
    border: 1px solid black;
    flex-wrap: wrap;
}

.header {
    width: 309px;
    display: flex;
    justify-content: space-between;
}

.setting-button {
    display: flex;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    width: 98px;
    height: 32px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.setting-button:hover {
    background-color: #bbd3e7;
}

.user-name {
    align-self: center;
}

.sign-button {
    display: flex;
    margin-top: 8px;
    width: 66px;
    height: 32px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.sign-button:hover {
    background-color: #bbd3e7;
}

.chat-field {
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 437px;
    border: 1px solid black;
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    overflow: auto;
}

.chat-field::-webkit-scrollbar {
    width: 4px;
}
.chat-field::-webkit-scrollbar-track {
    background: #bbd3e7;
}
.chat-field::-webkit-scrollbar-thumb {
    background-color: #9ab9d3;
}

.message-input {
    padding-left: 5px;
    margin-left: 8px;
    margin-bottom: 8px;
    width: 262px;
    height: 32px;
    border: 1px solid black;
}

.send-button {
    margin-left: 5px;
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

.send-form {
    width: 309px;
    display: flex;
    justify-content: space-between;
}
.my-message {
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 8px;
    max-width: 280px;
    overflow-wrap: break-word;
    border-radius: 10px 10px 0px 10px;
    align-self: flex-end;
    background-color: #bbd3e7;
    display: flex;
    flex-direction: column;
}

.companion-message {
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 8px;
    max-width: 280px;
    overflow-wrap: break-word;
    border-radius: 10px 10px 10px 0px;
    align-self: flex-start;
    background-color: #bbe7bf;
    display: flex;
    flex-direction: column;
}

.message-text {
    flex-wrap: wrap;
}

.message-time {
    margin-top: 4px;
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    align-self: flex-end;
}

.settings-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    transition: .2s;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.settings-modal__container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 273px;
    height: 319px;
    background-color: #fff;
    transition: .2s;
    transform: translateY(-60px);
}

.settings-modal__input-name {
    padding-left: 5px;
    margin-left: 14px;
    margin-bottom: 8px;
    width: 201px;
    height: 32px;
    border: 1px solid black;
}

.settings-modal__button {
    margin-left: 8px;
    margin-right: 14px;
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

.settings-modal__head {
    margin-top: 16px;
    margin-left: 14px;
}

.settings-modal__body {
    position: relative;
}

.settings-modal__close {
    width: 14px;
    height: 14px;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
}

.settings-modal__chat-name {
    margin-top: 16px;
    margin-left: 14px;
    margin-bottom: 8px;
}

.settings-modal__form {
    display: flex;
    justify-content: space-between;
}

.sign-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    transition: .2s;
}
.sign-modal__container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 273px;
    height: 319px;
    background-color: #fff;
    transition: .2s;
    transform: translateY(-60px);
}
.sign-modal__body {
    position: relative;
}
.sign-modal__head {
    margin-top: 16px;
    margin-left: 14px;
}
.sign-modal__close {
    width: 14px;
    height: 14px;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
}
.sign-modal__chat-name {
    margin-top: 16px;
    margin-left: 14px;
    margin-bottom: 8px;
}
.sign-modal__input-email {
    padding-left: 5px;
    margin-left: 14px;
    margin-bottom: 8px;
    width: 90%;
    height: 32px;
    border: 1px solid black;
}
.sign-modal__button {
    margin-left: 14px;
    margin-right: 14px;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    border: 1px solid black;
}
.confirm-modal__button:hover {
    background-color: #bbd3e7;
}

.confirm-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    transition: .2s;
}
.confirm-modal__container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 273px;
    height: 319px;
    background-color: #fff;
    transition: .2s;
    transform: translateY(-60px);
}
.confirm-modal__body {
    position: relative;
}
.confirm-modal__head {
    margin-top: 16px;
    margin-left: 14px;
}
.confirm-modal__close {
    width: 14px;
    height: 14px;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
}
.confirm-modal__code {
    margin-top: 16px;
    margin-left: 14px;
    margin-bottom: 8px;
}
.confirm-modal__input-token {
    padding-left: 5px;
    margin-left: 14px;
    margin-bottom: 8px;
    width: 90%;
    height: 32px;
    border: 1px solid black;
}
.confirm-modal__button {
    margin-left: 14px;
    margin-right: 14px;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    border: 1px solid black;
}
.confirm-modal__button:hover {
    background-color: #bbd3e7;
}

.popup {
    position: absolute;
    top: 450px;
    left: 40%;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100px;
    background-color: #95b7d3c9;
    transition: .2s;
    border-radius: 10px;
}

.popup__text {
    margin: auto;
}